@model IEnumerable<ASPProject.Models.Category>

@{ ViewData["Title"] = "Categories Page"; }


<div class="text-center ">
    <br />
    @{
        var i = 1;
        foreach (var item in Model)
        {

<div id="img" class="float-left w-25 pr-4 mb-3">
    <div class="w-100 text-center" style="position:relative">
        <a asp-action="CategoryAnime" asp-controller="Categories" asp-route-id="@item.ID">
            <img src="@("~/Images/"+i+".jpg")" style="border-radius:20px ;object-fit:cover" height="300" class="w-100" asp-append-version="true" />
            <label style="position:absolute; left:2%; bottom:0%;" class="text-white"> @item.Name </label>
        </a>
    </div>
</div>
            i++;
        }
        }
</div>