@model IEnumerable<ASPProject.Models.Anime>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <form asp-action="FilteredAnimes" method="get">
        <input type="text" name="searchKey" class="form-control col-6 offset-3 mb-3" placeholder="Search For Your Animes" />
        <input type="submit" class="form-control col-6 btn btn-primary" />
    </form>
    <br />
    @foreach (var item in Model)
    {

<div class="float-left w-25 bg-info mr-3">
    <div> @item.Name </div>
    <div> @item.Name </div>
    <div> @item.Name </div>
    <a asp-action="Details" asp-route-id="@item.ID" >Show</a>
</div>
    }
    <div></div>
</div>
