@model IEnumerable<ASPProject.Models.Anime>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <form asp-action="FilteredAnimes" method="get">
        <div class="row justify-content-center">
            <input type="text" name="searchKey" id="search" class="form-control col-3 mr-3  mb-3" placeholder="Search For Your Animes" />
            <select class="form-control col-2 mb-3" name="Cat">
                <option value="">Select A Category</option>
                <option value="Comedy">Comedy</option>
                <option value="Sports">Sports</option>
                <option value="Supernatural">Supernatural</option>
                <option value="Shonen">Shonen</option>
                <option value="Romance">Romance</option>
                <option value="Drama">Drama</option>
                <option value="Thriller">Thriller</option>
                <option value="Seinen">Seinen</option>
                <option value="Horror">Horror</option>
                <option value="Isekai">Isekai</option>
                <option value="Mecha">Mecha</option>
                <option value="Action">Action</option>

            </select>
        </div>
        <input type="submit" id="sbtn"  value="Search" class="form-control col-6 btn btn-dark" />

    </form>
    <br />
    @foreach (var item in Model)
    {

<div id="img" class="float-left w-25 pr-4 mb-3">
    <div class="w-100 text-center" style="position:relative">
        <a asp-action="Details" asp-route-id="@item.ID" >
         <img  src="@("~/Images/"+ item.ImageName)" style="border-radius:20px ;object-fit:cover" height="300" class="w-100" asp-append-version="true" />
            <label style="position:absolute; left:2%; bottom:0%;" class="text-white"> @item.Name </label>
        </a>
    </div>
</div>
    }
    <div></div>
</div>



